/* GLOBAL */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

:root
{
    /* sizes  */
    --container-normal:1100px;
    --container-smaller:900px;
    --container-wider:1400px;

    /* color variables */
    --primary-color: #fcf5e9;
    --dark-color:#333
    
}
a
{
    text-decoration: none;
    color: var(--dark-color);    
}

ul
{
    list-style: none;

}

img
{
    max-width: 100%;
}



/* Utility Classes */
.bg-primary
{
    background-color: var(--primary-color);
    color: var(--dark-color);
}

.bg-dark
{
    background-color: var(--dark-color);
    color: #fff;
}

.bg-dark .bg-primary
{
    padding: 0 0.3rem;
}

.section-heading
{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 50px;
}

.visually-hidden 
{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn
{
    display: inline-block;
    padding: 1rem 2rem ;
    border: 1px solid var(--dark-color);
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.btn:hover
{
    background-color: var(--dark-color);
    color: #fff;
}


/* Container */
.container
{
    max-width: var(--container-normal);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container-lg
{
    max-width: var(--container-wider);
}

.container-sm 
{
    max-width: var(--container-smaller);
}


/* header */
header
{
    margin: 1.5rem auto;
}

.logo
{
    width: 130px;
}


.header-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-menu
{
    display: flex;
    gap: 1rem;
}

.main-menu a 
{
    padding: 0.5rem 1rem;
}

.main-menu a:hover
{
    background-color: var(--primary-color);
}

.current
{
    background-color: var(--primary-color);
    font-weight: 500;
}

/* hero */
.hero
{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2
{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}

/* gallery */
.gallery-flex
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item
{
    width: calc(33.33% - 20px);
    border-radius: 10px;
}

.gallery-item img
{
    border-radius: 10px;
}

.gallery-item:hover
{
    opacity: 0.9;
}


/* footer */
footer
{
    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem ;
}

.footer-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img
{   
    width: 120px;
    height: 35px;
}

footer  h4
{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* ABOUT */
/* Services */
.services
{
    padding: 3rem 0  4rem;
}

.services-flex
{
    display: flex;
    gap: 2rem;
}

.services-item h4
{
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
}


/* Team */
.team
{
    padding: 3rem 0 4rem;
}

.team-flex
{
    display: flex;
    gap: 1.4rem;
}

.team img
{
    border-radius: 10px;
}


/* CONTACT */
.contact
{
    padding: 3rem 0 4rem;
}

.contact p 
{
    text-align: center;
    margin-bottom: 2rem;
}



.form-group
{
    margin: 2rem 0 ;
}

.contact input, .contact textarea
{
    border: none;
    border-bottom: 1px var(--dark-color) solid;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
}

.contact textarea
{
    height: 200px ;
}

.contact input:focus,.contact textarea:focus
{
    outline: 0;
}

.contact .btn
{
    width: 100%;
}

/* Media Queries */
@media(max-width : 768px)
{
    .header-flex, .services-flex, .team-flex
    {
        flex-direction: column;
        gap: 1.5rem;
    }

    .hero
    {
        height: 300px;
        font-size: 1.8rem;
    }

    .gallery-item
    {
        width: calc(50% - 20px);
    }

    .footer-flex
    {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }


}